doctype html
html
	head
		title UKW Display
		link(rel='stylesheet', href='/javascripts/fuelux/css/fuelux.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-slider.css')
		link(rel='stylesheet', href='/stylesheets/dist/styles.css')

	block scripts
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/bootstrap/bootstrap.min.js')
		script(src='/javascripts/fuelux/js/fuelux.min.js')

		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/bootstrap-notify.min.js')
		script(src='/javascripts/bootstrap-slider.js')
		script(src='/javascripts/dist/main.js')

	block codeTeil1
		script.
			console.log("Lade Navigationslayout")

	body.fuelux
		block menu
			.navbar.navbar-default(role='navigation', style="margin-bottom: 10px;")
				.container-fluid
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/ukw') ukwDisplay
					.navbar-collapse.collapse
						ul.nav.navbar-nav
							li#gruppe(onclick='gruppen(this.id)')
								a(href='#') Einzelschaltung
							li#konf
								a(href='/zuordnung') RL Kanalzuordnung

							li.dropdown.btn-group
								a.dropdown-toggle(
								id='buttonThemeSwitcher'
								type='button'
								data-toggle='dropdown'
								aria-haspopup='true'
								aria-expanded='false'
								) Farbschema
									span.caret

								ul.dropdown-menu.theme-switcher
									li.theme1.active
										a.switch-theme.btn(data-theme='default') Standard
									li.theme2
										a.switch-theme.btn(data-theme='cyborg') Cyborg
									li.theme3
										a.switch-theme.btn(data-theme='darkly') Darkly
									li.theme4
										a.switch-theme.btn(data-theme='flatly') Flatly


							li.dropdown.btn-group.navbar-btn
								button.btn.btn-primary.dropdown-toggle(
								id='buttonAGswitcher'
								type='button'
								data-toggle='dropdown'
								aria-haspopup='true'
								aria-expanded='false'
								) Arbeitsplatzgeräte
									span.caret

								ul.dropdown-menu
									li.span1
										a.btn SPAN01
											span.label.label-default.label-success(id='agspan01') OK
									li.mhan1
										a.btn MHAN01
											span.label.label-default.label-success(id='agspan01') OK
									li.mhan2
										a.btn MHAN02
											span.label.label-default.label-success(id='agspan01') OK
									li.mhan3
										a.btn MHAN03
											span.label.label-default.label-success(id='agspan01') OK
									li.mhan4
										a.btn MHAN04
											span.label.label-default.label-success(id='agspan01') OK

							//- Schleife ueber alle alternativen Server, ID dynamisch zusammensetzen
							//- wichtig dabei: Variable #{val[0]} in einfachen Anführungzeichen, sonst Interpolation-Fehler

							if (!error && (typeof gesamteKonfig != 'undefined'))

								li.dropdown.btn-group.navbar-btn
									- aktiverServer = gesamteKonfig.IpConfig.aktuellerServer
									each val, index in gesamteKonfig.IpConfig.alternativeIPs
										- server = val[1].split(":")
										if server[0] == aktiverServer
											button.btn.btn-primary.dropdown-toggle.server-toggle(
											id='button' + val[0]
											type='button'
											data-toggle='dropdown'
											data-label=val[0]
											aria-haspopup='true'
											aria-expanded='false'
											) &nbsp#{val[0]}&nbsp
												span.label.label-default.due(id='buttonAktiv' + val[0] + '_DUE') DUE
												span.label.label-default.rfd(id='buttonAktiv' + val[0] + '_RFD') RFD
												span.caret
										ul.dropdown-menu
											each val1, index1 in gesamteKonfig.IpConfig.alternativeIPs
												+serverListe(val1[1], val1[0])
											- break;


		block content
		block codeTeil2
			script.
				console.log("Navigationslayout geladen...")