extends layoutTest
block append codeTeil1







block content
    div.container-fluid
        div.content
            div.col-md-12
                //Scahaltflaechen anzeigen

                != "<div class=\"row\">"
                    each val, index in gesamteKonfig.FunkstellenReihe
                        // - console.log(!{index})
                        // - console.log(!{val})

                        //- Korrekte Verschachtelung der Row-DIVs
                        if index == 'Button11'
                            //- keines, erstes DIV geht vor der schleife auf
                        if index == 'Button21' || index == 'Button31' || index == 'Button41'
                            != "</div><div class=\"row\">"

                        div.col-md-2(id=index + 'panel',style="padding-left: 5px;padding-right: 5px;")
                            div.panel.panel-default(
                                onclick='schalteKanal(event,this,"SPAN")',
                                style='border-width: 2px;',
                                class=(val[0] == 'frei' ? 'hidden' : '')
                            )
                                div.btn.btn-default(
                                    buttonElement='Mhan',
                                    id=gesamteKonfig.ArbeitsplatzGeraete[gesamteKonfig.MhanZuordnung[val[0]]],
                                    class=(val[0] == 'frei' ? 'hidden' : ''),
                                    style='width: 100%;border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-top-width: 0px;border-left-width: 0px;border-right-width: 0px;padding-top: 10px;padding-bottom: 10px',
                                    type='button', 
                                    data-toggle='modal',
                                    data-target='#mithoerenModal',
                                    ) #{(gesamteKonfig.MhanZuordnung[val[0]] ? gesamteKonfig.MhanZuordnung[val[0]] : '--ohne--')}
                                div.dropdown.text-center
                                    - kompomentenID = val[0] ? val[0] : '---------------------';
                                    - geraet = kompomentenID.substr(15,6);
                                    - standort = kompomentenID.substr(8,6);
                                    button.btn.btn-default(
                                        buttonElement='Standort'
                                        aktiv=kompomentenID
                                        style='width: 138px;margin-top: 10px;margin-left: 0px;margin-right: 0px;border-right-width: 1px;border-left-width: 1px;padding-top: 2px;padding-bottom: 2px;',
                                        type='button'
                                        data-toggle='dropdown'
                                        aria-haspopup='true'
                                        aria-expanded='false'
                                        id='standortListe'
                                        ) #{standort}&nbsp
                                        span.label.label-default ??
                                    ul.dropdown-menu(
                                        style='width:250px'
                                        aria-labelledby='standortListe'
                                        )
                                        li
                                            div.radio
                                                label.radio-custom(
                                                    data-initialize='radio'
                                                )
                                                    input.sr-only.input-lg(
                                                        type='radio',
                                                        name='funkstelle',
                                                        value='1',
                                                        )
                                                    - komponentenID = val[0] ? val[0] : '---------------------';
                                                    - geraet = komponentenID.substr(15,6);
                                                    - standort = komponentenID.substr(8,6);
                                                    span(
                                                        id=(val[0] ? gesamteKonfig.FunkstellenDetails[val[0]].id : '--ohne--')
                                                        fstStatus="-1"
                                                    ) #{val[0] ? komponentenID : '-ohne-'}&nbsp
                                                        span.label.label-default ??
                                        li
                                            div.radio
                                                label.radio-custom(
                                                    data-initialize='radio'
                                                )
                                                    input.sr-only.input-lg(
                                                        type='radio',
                                                        name='funkstelle',
                                                        value='2',
                                                        )
                                                    - komponentenID = val[1] ? val[1] : '---------------------';
                                                    - geraet = komponentenID.substr(15,6);
                                                    - standort = komponentenID.substr(8,6);
                                                    span(
                                                        id=(val[0] ? gesamteKonfig.FunkstellenDetails[val[0]].id : '--ohne--')
                                                         fstStatus="-1"
                                                    ) #{val[1] ? komponentenID : '-ohne-'}&nbsp
                                                        span.label.label-default ??
                                if gesamteKonfig.FunkstellenDetails[val[0]].MKA
                                    h2.text-right(id=index,style="margin-top: 4px;margin-bottom: 5px;")
                                        span #{gesamteKonfig.FunkstellenDetails[val[0]].channel}
                                        button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 32px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
                                            span.caret
                                else
                                    h2.text-center(
                                        onclick='schalteKanal(event,this,"SPAN")',
                                        id=index
                                        style='margin-top: 4px; margin-bottom: 4px;'
                                    ) #{gesamteKonfig.FunkstellenDetails[val[0]].channel}
                                p.text-center(
                                    buttonElement='atis'
                                ) 9 211 03 6580
                                div.btn.btn-default(
                                    onclick='schalteKanal(event,this,"SPAN")'
                                    id=gesamteKonfig.ArbeitsplatzGeraete.SPAN01
                                    style='width: 100%;border-top-left-radius: 0;border-top-right-radius: 0;border-bottom-width: 0px;border-left-width: 0px;border-right-width: 0px;'
                                    ) SPAN





                                   
                                    
                                    
                                

                //- Abschliessendes Row-DIV
                != "</div><!-- row>"






                    //Test fuer Slider
                    div#popover-content.hidden
                        p Lautstaerke per Softwareeinstellen
                        //input#ex1(data-slider-id='ex1Slider', type='text', data-slider-min='0', data-slider-max='100', data-slider-step='1', data-slider-value='15',data-slider-orientation='vertical')
                        input#ex1(
                            type='text'
                            data-slider-min='0'
                            data-slider-max='100'
                            data-slider-step='10'
                            data-slider-orientation='vertical'
                        )



                    div.row
                        div.col-md-2(
                            style='padding-left: 5px; padding-right: 5px;'
                        )
                            div.panel.panel-default(
                                style='border-width: 2px;'

                            )
                                div.btn.btn-default(
                                    style='width: 100%;border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-top-width: 0px;border-left-width: 0px;border-right-width: 0px;padding-top: 10px;padding-bottom: 10px',
                                    type='button', 
                                    data-toggle='modal',
                                    data-target='#mithoerenModal',
                                    ) MHANxy
                                div.dropdown.text-center
                                    button.btn.btn-default(
                                        style='width: 138px;margin-top: 10px;margin-left: 0px;margin-right: 0px;border-right-width: 1px;border-left-width: 1px;padding-top: 2px;padding-bottom: 2px;',
                                        type='button'
                                        data-toggle='dropdown'
                                        aria-haspopup='true'
                                        aria-expanded='false'
                                        id='dtest'
                                        ) Standort&nbsp
                                        span.label.label-success Ok
                                    ul.dropdown-menu(
                                        style='width:250px'
                                        aria-labelledby='dtest'
                                        )
                                        li
                                            div.radio
                                                label.radio-custom(
                                                    data-initialize='radio'
                                                )
                                                    input.sr-only.input-lg(
                                                        type='radio',
                                                        name='funkstelle',
                                                        value='1',
                                                        )
                                                    span 1-H-RFD-WHVVTA-FKEK-1&nbsp
                                                        span.label.label-success Ok
                                        li
                                            div.radio
                                                label.radio-custom(
                                                    data-initialize='radio'
                                                )
                                                    input.sr-only.input-lg(
                                                        type='radio',
                                                        name='funkstelle',
                                                        value='2',
                                                        )
                                                    span 1-H-RFD-WHVVTA-FKEK-2&nbsp
                                                        span.label.label-success Ok
                                                
                                                    
                                h2.text-center(
                                    style='margin-top: 4px; margin-bottom: 4px;'
                                ) 77
                                p.text-center 9 211 03 6580
                                div.btn.btn-default(
                                    style='width: 100%;border-top-left-radius: 0;border-top-right-radius: 0;border-bottom-width: 0px;border-left-width: 0px;border-right-width: 0px;'
                                    ) SPANxy
                        
                        div.col-md-2
                            


                    // Modalfenster fuer MKA Kanalwahl
                    div#mkaModal.modal(aria-labelledby='mkaModalLabel')
                        div.modal-dialog
                            div.modal-content
                                div.modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true')
                                    h4#mkaModalLabel.modal-title Kanalauswahl für Mehrkanal-Anlage
                                div.modal-body
                                    p
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 1
                                        &nbsp
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 2
                                        &nbsp
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 3
                                        &nbsp
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 4
                                        &nbsp
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 5
                                        &nbsp
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 6
                                        &nbsp
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 7
                                        &nbsp
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 8
                                        &nbsp
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 9
                                        &nbsp
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 10
                                        &nbsp
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 11
                                        &nbsp
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 12
                                        &nbsp
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 69
                                        &nbsp
                                        button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 68
                                        &nbsp

                                    #mySpinbox.spinbox(data-initialize='spinbox', style="font-size: 20px; width: 20%;")
                                        input.form-control.input-mini.spinbox-input(type='text', style="height: 75px;font-size:25px")
                                        div.spinbox-buttons.btn-group.btn-group-vertical(style="width:60px")
                                            button.btn.btn-default.spinbox-up.btn-lg(type='button', style=" width: 63px; height: 36px;")
                                                span.glyphicon.glyphicon-chevron-up
                                                span.sr-only Increase
                                            button.btn.btn-default.spinbox-down.btn-lg(type='button', style=" width: 63px; height: 36px;")
                                                span.glyphicon.glyphicon-chevron-down
                                                span.sr-only Decrease


                                div.modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal') Abbrechen
                                    button.btn.btn-primary(type='button', data-dismiss='modal', onclick='setzeKanal()') Ändern
                    
                    // errorModal als mixin ausgelagert nach layout.jade
                    +errorModal('DUE','Fehler','Verbindung zum Server abgebrochen. Bitte verwenden Sie folgende alternativen Server:')
                    +errorModal('RFD','RFD-Fehler','Verbindung zum RFD-Dienst abgebrochen. Bitte verwenden Sie folgende alternativen Server:')

                    // Modalfenster fuer Mithoeren und Zuordnung
                    div#mithoerenModal.modal(aria-labelledby='mithoerenModalLabel')
                        div.modal-dialog
                            div.modal-content
                                div.modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true')
                                    h4#mithoerenModalLabel.modal-title Mithören für Funkstelle, SNAME, Kanal Nr
                                div.modal-body
                                    div.row
                                        div.col-md-6
                                            div.panel.panel-default
                                                div.panel-heading Wähle Lautsprecher
                                                div.panel-content
                                                    div.btn.btn-group-vertical
                                                        button.btn.btn-default MHAN01
                                                        button.btn.btn-default MHAN02
                                                        button.btn.btn-default MHAN03
                                                        button.btn.btn-default MHAN04
                                                        button.btn.btn-default MHAN05
                                                        button.btn.btn-default MHAN06
                                                        button.btn.btn-default MHAN07
                                                        button.btn.btn-default MHAN08
                                        div.col-md-6
                                            div.panel.panel-default
                                                div.panel-heading Wähle Lautstärke für diesen Kanal
                                                div.panel-content
                                                    input#sliderModal(
                                                        type='text'
                                                        data-slider-min='0'
                                                        data-slider-max='100'
                                                        data-slider-step='10'
                                                    )
                                    div.row
                                        div.col-md-12
                                            div.panel.panel-default
                                                div.panel-heading Auf diesen Kanal aufgeschaltete Arbeitsplätze. Wähle zum Mithören...
                                                div.panel-content
                                                    div.btn.btn-group
                                                        button.btn.btn-default JA_NA
                                                        button.btn.btn-default JA_Lotse1
                                                        button.btn.btn-default JA_Lotse2
                                                        button.btn.btn-default JA_Lotse3


                                div.modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal') Abbrechen
                                    button.btn.btn-primary(type='button', data-dismiss='modal', onclick='setzeKanal()') Ändern



block append codeTeil2
    include clientScriptTest

