div.btn.btn-default(
                                    style='border-right-width: 1px;border-top-width: 0px;border-left-width: 0px;border-radius: 0;width: 50%;padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;'
                                    )
                                    div(
                                        id='ship'
                                        onclick='schalteKanal(event,this)'
                                        style='z-index:-1;float:left;width:20%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;'
                                        )
                                        span(
                                            id='ship'
                                        ) S
                                    div.pull-right
                                        span(
                                            id='ship'
                                            onclick='schalteKanal(event,this)'
                                            style='padding-bottom: 15px; padding-top: 15px'
                                        ) 100
                                        span.glyphicon.glyphicon-volume-up(
                                            id='ship_pegel'
                                            data-toggle='popover'
                                            container='panel-body'
                                            data-placement='right'
                                            data-html='true'
                                            data-content="<input id='ex1', type='text', data-slider-min='0', data-slider-max='100', data-slider-step='10',data-slider-orientation='vertical'>"
                                            style='cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;'
                                        )
                                div.btn.btn-default(
                                    style='border-right-width: 0px;border-top-width: 0px;border-left-width: 0px;border-radius: 0;width: 50%;padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;'
                                    )
                                    div(
                                        id='pilot'
                                        onclick='schalteKanal(event,this)'
                                        style='z-index:-1;float:left;width:20%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;'
                                        )
                                        span(
                                            id='pilot'
                                        ) L
                                    div.pull-right
                                        span(
                                            id='pilot'
                                            
                                            style='padding-bottom: 15px; padding-top: 15px'
                                        ) 100
                                        span.glyphicon.glyphicon-volume-up(
                                            id='pilot_pegel'
                                            data-toggle='popover'
                                            container='panel-body'
                                            data-placement='right'
                                            data-html='true'
                                            data-content="<input id='ex1', type='text', data-slider-min='0', data-slider-max='100', data-slider-step='10',data-slider-orientation='vertical'>"
                                            style='cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;'
                                        )