//- Multiple errorModal moeglich: type ergaenzt die id
mixin errorModal(type,title,errorMessage)
    div.modal.fade(id='errorModal#{type}', tabindex='-1', role='dialog', aria-labelledby='errorModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                    h4#errorModalLabel.modal-title #{title}
                .modal-body
                    p.
                        #{errorMessage}
                    p
                        each val, index in gesamteKonfig.IpConfig.alternativeIPs
                            a(href='http://' + val[1]) #{val[0]}
                            | &nbsp;
                    audio(autoplay)
                        source(src='burst4.wav' type='audio/wav')


doctype html
html
    head
        title UKW Display
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
        link(rel='stylesheet', href='/javascripts/fuelux/css/fuelux.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-slider.css')


        block scripts
            script(src='/javascripts/jquery.min.js')
            script(src='/javascripts/bootstrap/bootstrap.min.js')
            script(src='/javascripts/fuelux/js/fuelux.min.js')


            script(src='/socket.io/socket.io.js')
            script(src='/javascripts/bootstrap-notify.min.js')
            script(src='/javascripts/bootstrap-slider.js')


        block testcode
            script.
                console.log("Lade Navigationslayout")



        body.fuelux
            block menu
                .navbar.navbar-default(role='navigation', style="margin-bottom: 10px;")
                    .container-fluid
                        .navbar-header
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='/ukw') ukwDisplay
                        .navbar-collapse.collapse
                            ul.nav.navbar-nav
                                li#gruppe(onclick='gruppen(this.id)')
                                    a(href='#') Einzelschaltung
                                li#uebersicht
                                    a(href='/overview') &Uuml;bersicht
                                li#konf
                                    a(href='/zuordnung') RL Kanalzuordnung
                            //- Schleife ueber alle alternativen Server, ID dynamisch zusammensetzen
                            //- wichtig dabei: Variable #{val[0]} in einfachen Anführungzeichen, sonst Interpolation-Fehler
                            if (!error && (typeof gesamteKonfig != 'undefined'))
                                - aktiverServer=gesamteKonfig.IpConfig.aktuellerServer
                                each val, index in gesamteKonfig.IpConfig.alternativeIPs
                                    //- log.debg("cfg.httpIP: "+gesamteKonfig.IpConfig.cfgIPs.httpIP+":"+gesamteKonfig.IpConfig.port)
                                    //- log.debug("vergleich mit: "+val[1])
                                    //- var buttonActiveVTR = (val[1] == gesamteKonfig.IpConfig.cfgIPs.httpIP+":"+gesamteKonfig.IpConfig.port ? ' buttonActiveVTR': '')
                                    //- var buttonActiveVTR_DUE = (val[1] == gesamteKonfig.IpConfig.cfgIPs.httpIP+":"+gesamteKonfig.IpConfig.port ? ' buttonActiveVTR_DUE': '')
                                    //- var buttonActiveVTR_RFD = (val[1] == gesamteKonfig.IpConfig.cfgIPs.httpIP+":"+gesamteKonfig.IpConfig.port ? ' buttonActiveVTR_RFD': '')
                                    //- log.debug('buttonActiveVTR: '+buttonActiveVTR)

                                    //a(href='http://' + val[1])
                                    //    button.btn.btn-default.navbar-btn.navbar-right(id='button'+'#{val[0]}') &nbsp#{val[0]}&nbsp
                                    //        span.label.label-default(id='button'+'#{val[0]}'+'_DUE') DUE
                                    //        span.label.label-default(id='button'+'#{val[0]}'+'_RFD') RFD

                                    - server = val[1].split(":")
                                    if server[0] == aktiverServer
                                        a(href='http://' + val[1])
                                            button.btn.btn-primary.navbar-btn.navbar-right(id='button'+'#{val[0]}') &nbsp#{val[0]}&nbsp
                                                span.label.label-default(id='button'+'#{val[0]}'+'_DUE') DUE
                                                span.label.label-default(id='button'+'#{val[0]}'+'_RFD') RFD
                                    else
                                        a(href='http://' + val[1])
                                            button.btn.btn-default.navbar-btn.navbar-right(id='button'+'#{val[0]}') &nbsp#{val[0]}&nbsp
                                                span.label.label-default(id='button'+'#{val[0]}'+'_DUE') DUE
                                                span.label.label-default(id='button'+'#{val[0]}'+'_RFD') RFD


            block content
            block testcode2
                script.
                    console.log("Navigationslayout geladen...")
      
      
  
