extends layout
block append testcode
 script.






block content  
  div.container-fluid
   div.content
    div.col-md-9
     div.row
      div.col-md-3(id=test11panel)
       div.panel.panel-default(class=(locals.test11panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span 45  
          span.glyphicon.glyphicon-volume-up(id=test11id)(onclick='myFunction2(this.id)',style="cursor: pointer",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        div.panel-body.bg-default(id=test11id)(onclick='myFunction(this.id)',style="cursor: pointer")
         h2.text-center #{test11kanal}
        div.panel-footer #{test11name}
      div.col-md-3(id=test12panel)
       div.panel.panel-default(class=(locals.test12panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='myFunction2(this.id)',style="cursor: pointer")
        div.panel-body.bg-default(id=test12id)(onclick='myFunction(this.id)',style="cursor: pointer")
         h2.text-center #{test12kanal}
        div.panel-footer #{test12name}
      div.col-md-3(id=test13panel)
        div.panel.panel-default(class=(locals.test13panel?'':'hidden'))
         div.panel-heading
          span Ereignis
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='myFunction2(this.id)',style="cursor: pointer")
         div.panel-body.bg-default(id=test13id)(onclick='myFunction(this.id)',style="cursor: pointer")
           h2.text-center #{test13kanal}
         div.panel-footer #{test13name}
      div.col-md-3(id=test14panel)
       div.panel.panel-default(class=(locals.test14panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='myFunction2(this.id)',style="cursor: pointer")
        div.panel-body.bg-default(id=test14id)(onclick='myFunction(this.id)',style="cursor: pointer")
         h2.text-center #{test14kanal}
        div.panel-footer #{test14name}
     div.row
      div.col-md-3(id=test21panel)
       div.panel.panel-default(class=(locals.test21panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='myFunction2(this.id)',style="cursor: pointer")
        div.panel-body.bg-default(id=test21id)(onclick='myFunction(this.id)',style="cursor: pointer")
         h2.text-center #{test21kanal}
        div.panel-footer #{test21name}
      div.col-md-3(id=test22panel)
       div.panel.panel-default(class=(locals.test22panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='myFunction2(this.id)',style="cursor: pointer")
        div.panel-body.bg-default(id=test22id)(onclick='myFunction(this.id)',style="cursor: pointer")
         h2.text-center #{test22kanal}
        div.panel-footer #{test22name}
      div.col-md-3(id=test23panel)
        div.panel.panel-default(class=(locals.test23panel?'':'hidden'))
         div.panel-heading
          span Ereignis
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='myFunction2(this.id)',style="cursor: pointer")
         div.panel-body.bg-default(id=test23id)(onclick='myFunction(this.id)',style="cursor: pointer")
           h2.text-center #{test23kanal}
         div.panel-footer #{test23name}
      div.col-md-3(id=test24panel)
       div.panel.panel-default(class=(locals.test24panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='myFunction2(this.id)',style="cursor: pointer")
        div.panel-body.bg-default(id=test24id)(onclick='myFunction(this.id)',style="cursor: pointer")
         h2.text-center #{test24kanal}
        div.panel-footer #{test24name}
     div.row
      div.col-md-3#1-H-RFD-WHVVTA-FKMK-1-Panel
       div.panel.panel-default
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='myFunction2(this.id)',style="cursor: pointer",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
          span 45 &nbsp;&nbsp;   
          span.glyphicon.glyphicon-volume-up(onclick='myFunction2(this.id)',style="cursor: pointer",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        div.panel-body.bg-default#1-H-RFD-WHVVTA-FKMK-1(onclick='myFunction(this.id)',style="cursor: pointer")
         h2.text-center 69
         div.bg-success(style="border: 1px solid;border-color:#ddd")
          span Hauptanlage
         div.bg-success(style="border: 1px solid;border-color:#ddd")
          span Reserve
        div.panel-footer MKAWHV #{test24name}

    div.col-md-5
     //button.btn.btn-primary.btn-lg#gruppe(type="button",onclick='gruppen(this.id)') Gruppenschaltung
        
       

     
block append testcode2
 script.
  //Aktuelles NavElement Hervorheben
  //$(document).ready(function(){
  // $(".nav").find(".active").removeClass("active")
  // $('#ukw').addClass('active')
  //})

  var test=false;
  var ApID = 'JA_NvD';
  var SPAN = '1-H-RFD-WHVVKZ-SPAN-01';
  var ApFunkstellen = {
    '1-H-RFD-WHVVTA-FKEK-3':{id:'1-H-RFD-WHVVTA-FKEK-3', MKA:false, Kanal:'16',kurzname:'WHV',aufgeschaltet:null},
    '1-H-RFD-TETTEN-FKEK-3':{aufgeschaltet:null}
    };
  var Einzel = true;
  var einzelStatus
  var gruppenStatus


  //WebSocket Verbindung herstellen
  var socket = io('10.160.1.64:3001');
  
  //Variablen zum Arbeitsplatz laden
  $.get( "ukwKonfig", function( data ) { //IP-Adress nur als Platzhalter zum Testen
     ApFunkstellen=data.FunkstellenDetails;
     SPAN=data.ArbeitsplatzGeräte.SPAN01
   }); 


  //Popover aktivieren
  $("[data-toggle=popover]").popover();
  $('.popover-title').css("backgrouond-color", "#9FC53B"); $('.popover').css("background-color", "red");
  
  
  //Test Eingabefeld zum senden von NAchrichten
   $('form').submit(function(){
    socket.emit('chat message', $('#nachricht').val());
    $('#nachricht').val('');
    return false;
   });


  //Alle eingehenden WebSocket Nachrichten einhängen
  socket.on('chat message',function(msg){
    $('#messages').append($('<li>').text(msg));
    //$('#messages').prepend($.text(msg));
  });

  socket.on('test',function(msg){
    if(typeof msg === 'object'){
     if('RX' in msg && msg.RX.$.state === '1'){
        $('#'+msg.RX.$.id+'-Panel > div').toggleClass( "panel-danger" )
        $('#'+msg.RX.$.id+'-Panel > div > div').toggleClass( "bg-danger" )
        $('#'+msg.RX.$.id+'-Panel > div > div > h2').toggleClass( "text-danger" )
        $('#'+msg.RX.$.id+'-Panel > div > div.panel-heading > span').text( "Empfang" )
        $.notify('Empfang:'+ApFunkstellen[msg.RX.$.id].sname)
        console.log(msg.RX.$.id)
        }
     if('RX' in msg && msg.RX.$.state === '0'){
        $('#'+msg.RX.$.id+'-Panel > div').toggleClass( "panel-danger" )
        $('#'+msg.RX.$.id+'-Panel > div > div').toggleClass( "bg-danger" )
        $('#'+msg.RX.$.id+'-Panel > div > div > h2').toggleClass( "text-danger" )
        console.log(msg.RX.$.id)
        }
     if('TX' in msg && msg.TX.$.state === '1'){
        $('#'+msg.TX.$.id+'-Panel > div').toggleClass( "panel-success" )
        $('#'+msg.TX.$.id+'-Panel > div > div').toggleClass( "bg-success" )
        $('#'+msg.TX.$.id+'-Panel > div > div > h2').toggleClass( "text-success" )
        console.log(msg.TX.$.id)
        }
     if('TX' in msg && msg.TX.$.state === '0'){
        $('#'+msg.TX.$.id+'-Panel > div').toggleClass( "panel-success" )
        $('#'+msg.TX.$.id+'-Panel > div > div').toggleClass( "bg-success" )
        $('#'+msg.TX.$.id+'-Panel > div > div > h2').toggleClass( "text-success" )
        console.log(msg.TX.$.id)
        }
      if('geschaltet' in msg && msg.geschaltet.$.state === '1' && msg.geschaltet.$.Ap===SPAN ){
        $('#'+msg.geschaltet.$.id+'-Panel > div > div.panel-heading > span').text( "aufgeschaltet" )
        $('#'+msg.geschaltet.$.id+'-Panel > div').addClass( "panel-primary" )
        ApFunkstellen[msg.geschaltet.$.id].aufgeschaltet=true
        $.notify('Aufgeschaltet:'+ApFunkstellen[msg.geschaltet.$.id].sname +'')
        console.log(msg.geschaltet.$.id)
        }
      if('getrennt' in msg && msg.getrennt.$.state === '1' && msg.getrennt.$.Ap===SPAN){
        $('#'+msg.getrennt.$.id+'-Panel > div > div.panel-heading > span').text( "getrennt" )
        $('#'+msg.getrennt.$.id+'-Panel > div').removeClass( "panel-primary" )
        ApFunkstellen[msg.getrennt.$.id].aufgeschaltet=false
        $.notify('Getrennt:'+ApFunkstellen[msg.getrennt.$.id].sname +'')
        console.log(msg.getrennt.$.id)
        }

    }
   else{
    $('#messages').append($('<li>').text(msg));
    //$('#messages').append($.text(msg));
    
    }
  
  });

  function myFunction(geklickteID){
    console.log("Klick: "+geklickteID)
    //$.notify('test:'+ApFunkstellen[geklickteID].kurzname);

    if (Einzel===true){
     $.each(ApFunkstellen,function(key,value){
       if(value.aufgeschaltet===true && key != geklickteID){
         console.log(key,value.aufgeschaltet)
         trennen(key)
         }  
        //trenne aufgeschaltet
        })
    }

    if (ApFunkstellen[geklickteID].aufgeschaltet===true){
     trennen(geklickteID)
        
    }
    else{
    schalten(geklickteID)

    }
   }

   function trennen(geklickteID){
        socket.emit('chat message',{'FstID':geklickteID, 'ApID':ApID, 'SPAN':SPAN, 'aktion':'trennen'})
        $.notify('Trenne: '+ApFunkstellen[geklickteID].sname +' ...');
        //ApFunkstellen[geklickteID].aufgeschaltet=false

        //$('#'+geklickteID+'-Panel > div').removeClass( "panel-primary" )
        //$('#'+geklickteID+'-Panel > div > div.panel-heading > span').text( "getrennt" )
   }

   function schalten(geklickteID){
      socket.emit('chat message',{'FstID':geklickteID, 'ApID':ApID, 'SPAN':SPAN, 'aktion':'schalten'})
      $.notify('Schalte: '+ApFunkstellen[geklickteID].sname +' ...')
      
      //ApFunkstellen[geklickteID].aufgeschaltet=true
      //$('#'+geklickteID+'-Panel > div > div.panel-heading > span').text( "aufgeschaltet" )
      //$('#'+geklickteID+'-Panel > div').addClass( "panel-primary" )
      $('.popover-title').css("color", "black"); $('.popover').css("color", "black");

   }
   
  

   function myFunction2(geklickteID){
    console.log("Klick: Lautstärke "+geklickteID)
    //$('#'+geklickteID).popover('toggle')
   }

   function gruppen(buttonID){
    
    //Wechsel zu Gruppenschaltung
    if (Einzel===true){
      Einzel=false
      einzelStatus=JSON.stringify(ApFunkstellen)//speichere geschalteten Zustand
      $('#'+buttonID).toggleClass("active")
      $('#'+buttonID+' > a').text("Gruppenschaltung")
      zustandWiederherstellen(JSON.parse(gruppenStatus))// lade Gruppenzustand
     }

    else{
      Einzel=true
      gruppenStatus=JSON.stringify(ApFunkstellen)//speichere geschalteten Zustand
      $('#'+buttonID).toggleClass("active")
      $('#'+buttonID+' > a').text("Einzelschaltung")
      zustandWiederherstellen(JSON.parse(einzelStatus))//lade Einzelzustand

     }

   }

   function zustandWiederherstellen(AufschalteZustand){
    //Backup, da die Funktionen schalten und trennen mit Rückmeldung schon in ApFunkstellen schreiben
    backupApFunkstellen=ApFunkstellen
    $.each(backupApFunkstellen,function(key,value){
       if (value.aufgeschaltet== true && AufschalteZustand[key].aufgeschaltet== true)  {
       	//nix
       }
       if (value.aufgeschaltet== true && AufschalteZustand[key].aufgeschaltet== false)  {
        //trennen
        trennen(AufschalteZustand[key].id)
       }
       if (value.aufgeschaltet== false && AufschalteZustand[key].aufgeschaltet== true)  {
        //schalten
        schalten(AufschalteZustand[key].id)
       }
       if (value.aufgeschaltet== false && AufschalteZustand[key].aufgeschaltet== false)  {
        //nix
       }
    })


    //console.log("Funkstellen ID nicht vorhanden: "+Id)	
    }

   
  
     
    
  

   
