extends layout
block append testcode
 script.






block content  
  div.container-fluid
   div.content
    div.col-md-9
     //Scahaltflächen anzeigen
     div.row 
      div.col-md-3(id=button11panel)
       div.panel.panel-default(class=(locals.button11panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
          span 45 &nbsp;&nbsp;   
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;top: -11;top: -12px",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 11", data-html='true',data-content='')
        div.panel-body.bg-default(id=button11id)(onclick='schalteKanal(event,this)',style="cursor: pointer;z-index:-1")
         if button11MKA
          h2.text-right(id=button11id) #{button11kanal}
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button11id) #{button11kanal}
         div.bg-default(id=button11id)(style="border: 1px solid;border-color:#ddd")
          span(id=button11Haupt) Hauptanlage
         div.bg-default(id=button11id)(style="border: 1px solid;border-color:#ddd")
          span(id=button11Reser) Reserve
        div.panel-footer #{button11name}
      div.col-md-3(id=button12panel)
       div.panel.panel-default(class=(locals.button12panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
          span 45 &nbsp;&nbsp;   
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;top: -11;top: -12px",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
        div.panel-body.bg-default(id=button12id)(onclick='schalteKanal(event,this)',style="cursor: pointer;z-index:-1")
         if button12MKA
          h2.text-right(id=button12id) #{button12kanal}
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button12id) #{button12kanal}
         div.bg-default(id=button12id)(style="border: 1px solid;border-color:#ddd")
          span(id=button12Haupt) Hauptanlage
         div.bg-default(id=button12id)(style="border: 1px solid;border-color:#ddd")
          span(id=button12Reser) Reserve
        div.panel-footer #{button12name}
      div.col-md-3(id=button13panel)
       div.panel.panel-default(class=(locals.button13panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
          span 45 &nbsp;&nbsp;   
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;top: -11;top: -12px",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 13", data-html='true',data-content='')
        div.panel-body.bg-default(id=button13id)(onclick='schalteKanal(event,this)',style="cursor: pointer;z-index:-1")
         if button13MKA
          h2.text-right(id=button13id) #{button13kanal}
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button13id) #{button13kanal}
         div.bg-default(id=button13id)(style="border: 1px solid;border-color:#ddd")
          span(id=button13Haupt) Hauptanlage
         div.bg-default(id=button13id)(style="border: 1px solid;border-color:#ddd")
          span(id=button13Reser) Reserve
        div.panel-footer #{button13name}
      div.col-md-3(id=button14panel)
       div.panel.panel-default(class=(locals.button14panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
          span 45 &nbsp;&nbsp;   
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;top: -11;top: -12px",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 14", data-html='true',data-content='')
        div.panel-body.bg-default(id=button14id)(onclick='schalteKanal(event,this)',style="cursor: pointer;z-index:-1")
         if button14MKA
          h2.text-right(id=button14id) 
           span #{button14kanal}
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button14id) #{button14kanal}
         div.bg-default(id=button14id)(style="border: 1px solid;border-color:#ddd")
          span(id=button14Haupt) Hauptanlage
         div.bg-default(id=button14id)(style="border: 1px solid;border-color:#ddd")
          span(id=button14Reser) Reserve
        div.panel-footer #{button14name}
      //Zweite Reihe
      div.col-md-3(id=button21panel)
       div.panel.panel-default(class=(locals.button21panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
          span 45 &nbsp;&nbsp;   
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;top: -11;top: -12px",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 21", data-html='true',data-content='')
        div.panel-body.bg-default(id=button21id)(onclick='schalteKanal(event,this)',style="cursor: pointer;z-index:-1")
         if button21MKA
          h2.text-right(id=button21id) #{button21kanal}
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeLautstärke(event,this)')
             span.caret
         else
          h2.text-center(id=button21id) #{button21kanal}
         div.bg-default(id=button21id)(style="border: 1px solid;border-color:#ddd")
          span(id=button21Haupt) Hauptanlage
         div.bg-default(id=button21id)(style="border: 1px solid;border-color:#ddd")
          span(id=button21Reser) Reserve
        div.panel-footer #{button21name}
      div.col-md-3(id=button22panel)
       div.panel.panel-default(class=(locals.button22panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
          span 45 &nbsp;&nbsp;   
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;top: -11;top: -12px",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 22", data-html='true',data-content='')
        div.panel-body.bg-default(id=button22id)(onclick='schalteKanal(event,this)',style="cursor: pointer;z-index:-1")
         if button22MKA
          h2.text-right(id=button22id) #{button22kanal}
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button22id) #{button22kanal}
         div.bg-default(id=button22id)(style="border: 1px solid;border-color:#ddd")
          span(id=button22Haupt) Hauptanlage
         div.bg-default(id=button22id)(style="border: 1px solid;border-color:#ddd")
          span(id=button22Reser) Reserve
        div.panel-footer #{button22name}
      div.col-md-3(id=button23panel)
       div.panel.panel-default(class=(locals.button23panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
          span 45 &nbsp;&nbsp;   
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;top: -11;top: -12px",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 23", data-html='true',data-content='')
        div.panel-body.bg-default(id=button23id)(onclick='schalteKanal(event,this)',style="cursor: pointer;z-index:-1")
         if button23MKA
          h2.text-right(id=button23id) #{button23kanal}
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button23id) #{button23kanal}
         div.bg-default(id=button23id)(style="border: 1px solid;border-color:#ddd")
          span(id=button23Haupt) Hauptanlage
         div.bg-default(id=button23id)(style="border: 1px solid;border-color:#ddd")
          span(id=button23Reser) Reserve
        div.panel-footer #{button23name}
      div.col-md-3(id=button24panel)
       div.panel.panel-default(class=(locals.button24panel?'':'hidden'))
        div.panel-heading
         span Ereignis
         div.pull-right
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
          span 45 &nbsp;&nbsp;   
          span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;top: -11;top: -12px",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 24", data-html='true',data-content='')
        div.panel-body.bg-default(id=button24id)(onclick='schalteKanal(event,this)',style="cursor: pointer;z-index:-1")
         if button24MKA
          h2.text-right(id=button24id) #{button24kanal}
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button24id) #{button24kanal}
         div.bg-default(id=button24id)(style="border: 1px solid;border-color:#ddd")
          span(id=button24Haupt) Hauptanlage
         div.bg-default(id=button24id)(style="border: 1px solid;border-color:#ddd")
          span(id=button24Reser) Reserve
        div.panel-footer #{button24name}

     //Lautsprecher anzeigen
     div.row        
      div.col-md-6
       div.panel.panel-default
        div.panel-heading Mithörlautsprecher
        div.panel-body.bg-default
         div.col-md-3(id=mhan11id)(style="padding-left: 5px;padding-right: 5px;")
          div.panel.panel-default
           div.panel-heading(style="padding-left: 5px;padding-right: 5px;") LSP11-1
           div.panel-body.bg-default(style="padding-top: 1px;padding-bottom: 1px;padding-left: 1px;padding-right: 1px;")
            h3.text-center(id=mhan11kanal1id)(style="margin-top: 5px; margin-bottom: 5px;") #{mhan11kanal1}
          div.panel.panel-default
           div.panel-heading(style="padding-left: 5px;padding-right: 5px;") LSP11-2
           div.panel-body.bg-default(style="padding-top: 1px;padding-bottom: 1px;padding-left: 1px;padding-right: 1px;")
            h3.text-center(style="margin-top: 5px; margin-bottom: 5px;") NN
         div.col-md-3(id=mhan12id)(style="padding-left: 5px;padding-right: 5px;")
          div.panel.panel-default
           div.panel-heading(style="padding-left: 5px;padding-right: 5px;") LSP12-1
           div.panel-body.bg-default(style="padding-top: 1px;padding-bottom: 1px;padding-left: 1px;padding-right: 1px;")
            h3.text-center(id=mhan12kanal1id)(style="margin-top: 5px; margin-bottom: 5px;") #{mhan12kanal1}
          div.panel.panel-default
           div.panel-heading(style="padding-left: 5px;padding-right: 5px;") LSP12-2
           div.panel-body.bg-default(style="padding-top: 1px;padding-bottom: 1px;padding-left: 1px;padding-right: 1px;")
            h3.text-center(style="margin-top: 5px; margin-bottom: 5px;") NN
         div.col-md-3(id=mhan13id)(style="padding-left: 5px;padding-right: 5px;")
          div.panel.panel-default
           div.panel-heading(style="padding-left: 5px;padding-right: 5px;") LSP13-1
           div.panel-body.bg-default(style="padding-top: 1px;padding-bottom: 1px;padding-left: 1px;padding-right: 1px;")
            h3.text-center(id=mhan13kanal1id)(style="margin-top: 5px; margin-bottom: 5px;") #{mhan13kanal1}
          div.panel.panel-default
           div.panel-heading(style="padding-left: 5px;padding-right: 5px;") LSP13-2
           div.panel-body.bg-default(style="padding-top: 1px;padding-bottom: 1px;padding-left: 1px;padding-right: 1px;")
            h3.text-center(style="margin-top: 5px; margin-bottom: 5px;") NN
         div.col-md-3(id=mhan14id)(style="padding-left: 5px;padding-right: 5px;")
          div.panel.panel-default
           div.panel-heading(style="padding-left: 5px;padding-right: 5px;") LSP14-1
           div.panel-body.bg-default(style="padding-top: 1px;padding-bottom: 1px;padding-left: 1px;padding-right: 1px;")
            h3.text-center(id=mhan14kanal1id)(style="margin-top: 5px; margin-bottom: 5px;") #{mhan14kanal1}
          div.panel.panel-default
           div.panel-heading(style="padding-left: 5px;padding-right: 5px;") LSP14-2
           div.panel-body.bg-default(style="padding-top: 1px;padding-bottom: 1px;padding-left: 1px;padding-right: 1px;")
            h3.text-center(style="margin-top: 5px; margin-bottom: 5px;") NN
  




      //Test für Slider
      div#popover-content.hide
       input#ex1(data-slider-id='ex1Slider', type='text', data-slider-min='0', data-slider-max='20', data-slider-step='1', data-slider-value='14',data-slider-orientation='vertical')

      
      div
       button.btn.btn-primary#testbutton(type='button') Test Popover
      



      // Modalfenster für MKA Kanalwahl
      #mkaModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mkaModalLabel')
       .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#mkaModalLabel.modal-title Modal title
          .modal-body
           p
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 1
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 2
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 3
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 4
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 5
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 6
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 7
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 8
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 9
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 10
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 11
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 12
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 69
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 68

          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
        
       

     
block append testcode2
 script.
  //Aktuelles NavElement Hervorheben
  //$(document).ready(function(){
  // $(".nav").find(".active").removeClass("active")
  // $('#ukw').addClass('active')
  //})

  var test=false;
  var ApID = 'JA_NvD';
  var SPAN = '1-H-RFD-WHVVKZ-SPAN-01';
  var MhanZuordnung={"MHAN01":"1-H-RFD-WHVVTA-FKEK-2","MHAN02":"1-H-RFD-TETTEN-FKEK-2","MHAN03":"1-H-RFD-HELGLT-FKEK-1","MHAN04":"1-H-RFD-WHVVTA-FKMK-1"};
  var ApFunkstellen = {
    '1-H-RFD-WHVVTA-FKEK-3':{id:'1-H-RFD-WHVVTA-FKEK-3', MKA:false, Kanal:'16',kurzname:'WHV',aufgeschaltet:null},
    '1-H-RFD-TETTEN-FKEK-3':{aufgeschaltet:null}
    };
  var ArbeitsplatzGeräte;
  var Einzel = true;
  var einzelStatus
  var gruppenStatus
  var aktuellerUKWserver = location.protocol + '//' + location.hostname
  



  //WebSocket Verbindung herstellen
  var socket = io(aktuellerUKWserver+':3001');


 

  //Optionen für Notify festlegen
  $.notifyDefaults({
     // settings
   element: 'body',
   position: null,
   type: "info",
   allow_dismiss: true,
   newest_on_top: false,
   showProgressbar: false,
   placement: {
    from: "top",
    align: "right"
   },
   offset: 20,
   spacing: 10,
   z_index: 1031,
   delay: 5000,
   timer: 1000,
   url_target: '_blank',
   mouse_over: null,
   animate: {
    enter: 'animated fadeInDown',
    exit: 'animated fadeOutUp'
    },
    onShow: null,
    onShown: null,
    onClose: null,
    onClosed: null,
    icon_type: 'class',
    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
    '<span data-notify="icon"></span> ' +
    '<span data-notify="title">{1}</span> ' +
    '<span data-notify="message">{2}</span>' +
    '<div class="progress" data-notify="progressbar">' +
    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
    '</div>' +
    '<a href="{3}" target="{4}" data-notify="url"></a>' +
    '</div>' 
    });
  
  //Variablen zum Arbeitsplatz laden
  $.get( "ukwKonfig", function( data ) { //IP-Adress nur als Platzhalter zum Testen
     ApFunkstellen=data.FunkstellenDetails;
     SPAN=data.ArbeitsplatzGeräte.SPAN01
     MhanZuordnung=data.MhanZuordnung
     ArbeitsplatzGeräte=data.ArbeitsplatzGeräte


     lautsprecherAufschalten(MhanZuordnung);
   }); 


    //SLider und Popover für Lautstärke initialisieren
    //LAutstärke noch in AP Einstellungen speichern bzw laden
    var sliderVal;
    $(function () {
    $('[data-toggle="popover"]').popover({
        html: true,
        placement: 'right',
        title: 'Options',
        content: function () {
            return $("#popover-content").html();
        }
     }).click(function () {

        $('#ex1').slider().on('slide', function (ev) {
            sliderVal = ev.value;
        });
        if (sliderVal) {
            $('#ex1').slider('setValue', sliderVal)
        }
      });

    }); 


  //Popover aktivieren
  //$(function () {
  //$('[data-toggle="popover"]').popover()
  //})
  //$("[data-toggle=popover]").popover();
  //$('.popover-title').css("backgrouond-color", "#9FC53B"); 
  //$('.popover').css("background-color", "red");
  
  
  //LÖSCHEN
  //Test Eingabefeld zum senden von NAchrichten
   $('form').submit(function(){
    socket.emit('chat message', $('#nachricht').val());
    $('#nachricht').val('');
    return false;
   });

  
  //Mithörlautsprecher aufschalten
  function lautsprecherAufschalten(mhan){
  	console.log(mhan)
  	for (var funkstelle in mhan){
      socket.emit('chat message',{'FstID':mhan[funkstelle], 'ApID':ApID, 'SPAN':ArbeitsplatzGeräte[funkstelle], 'aktion':'schaltenEinfach'})
  		
  	}
  }

  //Prüfe ob Wert in Objekt vorkommt
  function hatWert(obj, value) {
   for(var id in obj) {
     if(obj[id] == value) {
      return true;
     }
    }
    return false;
   } 



  //Ereignisse für Verbindungsüberwachung
  //Dafür in der Navleiste eine Statusfläche einbauen
  socket.on('connect', function() {
  console.log('check 2------------------------VERBUNDEN', socket.connected);
  });


  socket.on('disconnect', function() {
  console.log('check 2-----------------------GETRENNT', socket.connected);
  });



 



  //Löschen
  //Alle eingehenden WebSocket Nachrichten einhängen TYP 'chat messeage'
  socket.on('chat message',function(msg){
    $('#messages').append($('<li>').text(msg));
    //$('#messages').prepend($.text(msg));
  });

  
  //eingehende Socket Nachrichten, Statusmeldungen verarbeitebn
  socket.on('test',function(msg){
    if(typeof msg === 'object'){
     //Empfangen aktiv
     if('RX' in msg && msg.RX.$.state === '1'){
     	//suche SChaltfläche zu FunkstellenID
        button=$('#'+msg.RX.$.id).offsetParent().attr('id')
        //Schaltfläche färben
        $('#'+button+' > div').addClass( "panel-danger" )
        $('#'+button+' > div > div').addClass( "bg-danger" )
        $('#'+button+' > div > div > h2').addClass( "text-danger" )
        $('#'+button+' > div > div.panel-heading > span').text( "Empfang" )
        //Lautsprecher färben
        $('#'+msg.RX.$.id+'Lsp').addClass( "text-danger" )
        $('#'+msg.RX.$.id+'Lsp').parent().addClass( "bg-danger" )
        $('#'+msg.RX.$.id+'Lsp').parent().parent().addClass( "panel-danger" )


        $.notify('Empfang:'+ApFunkstellen[msg.RX.$.id].sname)
        console.log(msg.RX.$.id)
        }
     //Empfangen deaktiv
     if('RX' in msg && msg.RX.$.state === '0'){
     	//suche SChaltfläche zu FunkstellenID
        button=$('#'+msg.RX.$.id).offsetParent().attr('id')
        $('#'+button+' > div').removeClass( "panel-danger" )
        $('#'+button+' > div > div').removeClass( "bg-danger" )
        $('#'+button+' > div > div > h2').removeClass( "text-danger" )
        //Lautsprecher färben
        $('#'+msg.RX.$.id+'Lsp').removeClass( "text-danger" )
        $('#'+msg.RX.$.id+'Lsp').parent().removeClass( "bg-danger" )
        $('#'+msg.RX.$.id+'Lsp').parent().parent().removeClass( "panel-danger" )
        console.log(msg.RX.$.id)
        }
     //Senden aktiv
     if('TX' in msg && msg.TX.$.state === '1'){
        //suche SChaltfläche zu FunkstellenID
        button=$('#'+msg.TX.$.id).offsetParent().attr('id')
        $('#'+button+' > div').addClass( "panel-success" )
        $('#'+button+' > div > div').addClass( "bg-success" )
        $('#'+button+' > div > div > h2').addClass( "text-success" )
        //Lautsprecher färben
        $('#'+msg.TX.$.id+'Lsp').addClass( "text-success" )
        $('#'+msg.TX.$.id+'Lsp').parent().addClass( "bg-success" )
        $('#'+msg.TX.$.id+'Lsp').parent().parent().addClass( "panel-success" )
        console.log(msg.TX.$.id)
        }
     //Senden deaktiv
     if('TX' in msg && msg.TX.$.state === '0'){
     	//suche SChaltfläche zu FunkstellenID
        button=$('#'+msg.TX.$.id).offsetParent().attr('id')
        $('#'+button+' > div').removeClass( "panel-success" )
        $('#'+button+' > div > div').removeClass( "bg-success" )
        $('#'+button+' > div > div > h2').removeClass( "text-success" )
        //Lautsprecher färben
        $('#'+msg.TX.$.id+'Lsp').removeClass( "text-success" )
        $('#'+msg.TX.$.id+'Lsp').parent().removeClass( "bg-success" )
        $('#'+msg.TX.$.id+'Lsp').parent().parent().removeClass( "panel-success" )
        console.log(msg.TX.$.id)
        }
      
      if('FSTSTATUS' in msg && msg.FSTSTATUS.$.state === '0'){
        $('#'+msg.FSTSTATUS.$.id).closest('div').removeClass( "bg-danger" )
        $('#'+msg.FSTSTATUS.$.id).closest('div').addClass( "bg-success" )
        console.log(msg.FSTSTATUS.$.id)
        
        //Bei Kanaländerung die Kanalnummer setzen
        if(msg.FSTSTATUS.$.channel > -1){
           button=$('#'+msg.FSTSTATUS.$.id).offsetParent().attr('id')
           $('#'+button+' > div > div  > h2 > span:first-child').text( msg.FSTSTATUS.$.channel )
          }

        }
      if('FSTSTATUS' in msg && msg.FSTSTATUS.$.state === '1'){
        $('#'+msg.FSTSTATUS.$.id).closest('div').removeClass( "bg-success" )
        $('#'+msg.FSTSTATUS.$.id).closest('div').addClass( "bg-danger" )
        console.log(msg.FSTSTATUS.$.id)
        }
      //Schalten für SPrechANlagen und MitHörANlagen
      if('geschaltet' in msg && msg.geschaltet.$.state === '1'){
        
        if(hatWert(ArbeitsplatzGeräte,msg.geschaltet.$.Ap)){
      
            //Ändern Darstellung für MHAN
            if(msg.geschaltet.$.Ap.indexOf("MHAN") != -1){
            	$('#'+msg.geschaltet.$.id+'Lsp').parent().parent().addClass( "panel-primary" )
            	
            }
            
            //Ändern Darstellung für SPAN
             if(msg.geschaltet.$.Ap.indexOf("SPAN") != -1){
             //suche SChaltfläche zu FunkstellenID
             button=$('#'+msg.geschaltet.$.id).offsetParent().attr('id')
             $('#'+button+' > div > div.panel-heading > span').text( "aufgeschaltet" )
             $('#'+button+' > div').addClass( "panel-primary" )
             ApFunkstellen[msg.geschaltet.$.id].aufgeschaltet=true
             $.notify('Aufgeschaltet:'+ApFunkstellen[msg.geschaltet.$.id].sname +'')
             console.log(msg.geschaltet.$.id)
             }
          }
       }

      //Trennen für SPrechANlagen und MitHörANlagen
      if('getrennt' in msg && msg.getrennt.$.state === '1'){

        if(hatWert(ArbeitsplatzGeräte,msg.getrennt.$.Ap)){
      
            //Ändern Darstellung für MHAN
            if(msg.getrennt.$.Ap.indexOf("MHAN") != -1){

            }
            //Ändern Darstellung für SPAN
            if(msg.getrennt.$.Ap.indexOf("SPAN") != -1){

             //suche SChaltfläche zu FunkstellenID
             button=$('#'+msg.getrennt.$.id).offsetParent().attr('id')
             $('#'+button+' > div > div.panel-heading > span').text( "getrennt" )
             $('#'+button+' > div').removeClass( "panel-primary" )
             ApFunkstellen[msg.getrennt.$.id].aufgeschaltet=false
             $.notify('Getrennt:'+ApFunkstellen[msg.getrennt.$.id].sname +'')
             console.log(msg.getrennt.$.id)
            }
        }

      }
     }
     else{
      $.notify('Meldung: '+msg)
      //$('#messages').append($('<li>').text(msg));
      //$('#messages').append($.text(msg));
      
      }


  });

  //Prüfe welches Element geklickt wurde
  //Vermeide aufschalten/trennen bei MKA Dropdown
  function angeklickt(e, element){
  	e=e||event
  	var ziel=e.target||e.srcElement
  	if(ziel.id==element.id)
  		return true
  	else
  		return false
  }

  function setzeKanalMka(event,element){
  	if(angeklickt(event,element)){
  		//Eltern Element finden
  		button=$(element).offsetParent().attr('id')
        //Funkstellen ID finden
        //geklickteMKA=$('#'+button +'> div > div:nth-child(2) > div:nth-child(2) > span').attr('class')
        geklickteMKA=$('#'+button +'> div > div:nth-child(2) > div > span').attr('id')
  		console.log("Dropdown von:" + geklickteMKA)
  		
  		
  	}
  }

  //Kanalschalten
  //Prüfe zunächst ob Element geklickt wurde
  function schalteKanal(event,element){
  	if(angeklickt(event,element)){
 
     console.log(element)
     console.log("Klick: "+element.id)
     console.log($('#'+element.id+' div:nth-child(2) > span').attr('id'))
     console.log($('#'+element.id+' div:nth-child(3) > span').attr('id'))
     console.log($('#'+element.id+' div:nth-child(4) > span').attr('id'))
     geklickteFstHaupt=$('#'+element.id+' div:nth-child(2) > span').attr('id')
     
     schalteKanalID(geklickteFstHaupt)

    


    }
  }
    


  function schalteKanalID(geklickteID){
    console.log("Klick: "+geklickteID)
    //$.notify('test:'+ApFunkstellen[geklickteID].kurzname);

    if (Einzel===true){
     $.each(ApFunkstellen,function(key,value){
       if(value.aufgeschaltet===true && key != geklickteID){
         console.log(key,value.aufgeschaltet)
         trennen(key)
         }  
        //trenne aufgeschaltet
        })
    }

    if (ApFunkstellen[geklickteID].aufgeschaltet===true){
     trennen(geklickteID)
        
    }
    else{
    schalten(geklickteID)

    }
   }

   function trennen(geklickteID){
        socket.emit('chat message',{'FstID':geklickteID, 'ApID':ApID, 'SPAN':SPAN, 'aktion':'trennenEinfach'})
        $.notify('Trenne: '+ApFunkstellen[geklickteID].sname +' ...');
        //ApFunkstellen[geklickteID].aufgeschaltet=false

        //$('#'+geklickteID+'-Panel > div').removeClass( "panel-primary" )
        //$('#'+geklickteID+'-Panel > div > div.panel-heading > span').text( "getrennt" )
   }

   function schalten(geklickteID){
      socket.emit('chat message',{'FstID':geklickteID, 'ApID':ApID, 'SPAN':SPAN, 'aktion':'schaltenEinfach'})
      $.notify('Schalte: '+ApFunkstellen[geklickteID].sname +' ...')
      
      //ApFunkstellen[geklickteID].aufgeschaltet=true
      //$('#'+geklickteID+'-Panel > div > div.panel-heading > span').text( "aufgeschaltet" )
      //$('#'+geklickteID+'-Panel > div').addClass( "panel-primary" )
      //$('.popover-title').css("color", "black"); $('.popover').css("color", "black");

   }

   
   
   
  

   



   function setzeLautstärke(geklickteID){
    console.log("Klick: Lautstärke "+geklickteID)
    //$('#'+geklickteID).popover('toggle')
     //Slider Einstellungen
  
    
    }

   function gruppen(buttonID){
    
    //Wechsel zu Gruppenschaltung
    if (Einzel===true){
      Einzel=false
      einzelStatus=JSON.stringify(ApFunkstellen)//speichere geschalteten Zustand
      $('#'+buttonID).toggleClass("active")
      $('#'+buttonID+' > a').text("Gruppenschaltung")
      zustandWiederherstellen(JSON.parse(gruppenStatus))// lade Gruppenzustand
     }

    else{
      Einzel=true
      gruppenStatus=JSON.stringify(ApFunkstellen)//speichere geschalteten Zustand
      $('#'+buttonID).toggleClass("active")
      $('#'+buttonID+' > a').text("Einzelschaltung")
      zustandWiederherstellen(JSON.parse(einzelStatus))//lade Einzelzustand

     }

   }

   function zustandWiederherstellen(AufschalteZustand){
    //Backup, da die Funktionen schalten und trennen mit Rückmeldung schon in ApFunkstellen schreiben
    backupApFunkstellen=ApFunkstellen
    $.each(backupApFunkstellen,function(key,value){
       if (value.aufgeschaltet== true && AufschalteZustand[key].aufgeschaltet== true)  {
       	//nix
       }
       if (value.aufgeschaltet== true && AufschalteZustand[key].aufgeschaltet== false)  {
        //trennen
        trennen(AufschalteZustand[key].id)
       }
       if (value.aufgeschaltet== false && AufschalteZustand[key].aufgeschaltet== true)  {
        //schalten
        schalten(AufschalteZustand[key].id)
       }
       if (value.aufgeschaltet== false && AufschalteZustand[key].aufgeschaltet== false)  {
        //nix
       }
    })


    //console.log("Funkstellen ID nicht vorhanden: "+Id)	
    }

  function setzeKanal(element){
   	
   	console.log('chat message',{'FstID':geklickteMKA, 'Kanal':element.innerText, 'aktion':'setzeKanal'})
   	socket.emit('chat message',{'FstID':geklickteMKA, 'Kanal':element.innerText, 'aktion':'setzeKanal'})
    //  $.notify('Setze Kanal: '+ApFunkstellen[geklickteMKA].sname +' auf '+ element.innerText +' ...')
   }



   
  
     
    
  

   
