extends layout
block append testcode
 script.






block content  
  div.container-fluid
   div.content
    div.col-md-12
     //Scahaltflächen anzeigen
     div.row        
      //Test eigene DIV Boxen
      //Dafür wohl noch eine eingebette CSS für Formatierung
      //Schaltfläche 1
      div.col-md-2(id=button11panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button11panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(id=mhan11id)(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") Test
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button11id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button11MKA
          h2.text-right(id=button11id)(style="margin-top: 5px;margin-bottom: 5px;") #{button11kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button11id)(style="margin-top: 5px;margin-bottom: 5px;") #{button11kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button11Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button11name}
          div.pull-right 
           span H
         div.bg-success(id=button11Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')


      //Schaltfläche 1
      div.col-md-2(id=button12panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button12panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button12id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button12MKA
          h2.text-right(id=button12id)(style="margin-top: 5px;margin-bottom: 5px;") #{button12kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button12id)(style="margin-top: 5px;margin-bottom: 5px;") #{button12kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button12Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button11name}
          div.pull-right 
           span H
         div.bg-success(id=button12Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

      //Schaltfläche 1
      div.col-md-2(id=button13panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button13panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button13id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button13MKA
          h2.text-right(id=button13id)(style="margin-top: 5px;margin-bottom: 5px;") #{button13kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button13id)(style="margin-top: 5px;margin-bottom: 5px;") #{button13kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button13Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button13name}
          div.pull-right 
           span H
         div.bg-success(id=button13Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

      //Schaltfläche 1
      div.col-md-2(id=button14panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button14panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button14id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button14MKA
          h2.text-right(id=button14id)(style="margin-top: 5px;margin-bottom: 5px;") #{button14kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button14id)(style="margin-top: 5px;margin-bottom: 5px;") #{button14kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button14Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button14name}
          div.pull-right 
           span H
         div.bg-success(id=button14Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

      //Schaltfläche 1
      div.col-md-2(id=button15panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button15panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button15id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button15MKA
          h2.text-right(id=button15id)(style="margin-top: 5px;margin-bottom: 5px;") #{button15kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button15id)(style="margin-top: 5px;margin-bottom: 5px;") #{button15kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button15Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button15name}
          div.pull-right 
           span H
         div.bg-success(id=button15Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

     
      //Schaltfläche 1
      div.col-md-2(id=button16panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button16panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button16id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button16MKA
          h2.text-right(id=button16id)(style="margin-top: 5px;margin-bottom: 5px;") #{button16kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button16id)(style="margin-top: 5px;margin-bottom: 5px;") #{button16kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button16Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button16name}
          div.pull-right 
           span H
         div.bg-success(id=button16Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
     
     div.row
      //Schaltfläche 1
      div.col-md-2(id=button21panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button21panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button21id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button21MKA
          h2.text-right(id=button21id)(style="margin-top: 5px;margin-bottom: 5px;") #{button21kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button21id)(style="margin-top: 5px;margin-bottom: 5px;") #{button21kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button21Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button21name}
          div.pull-right 
           span H
         div.bg-success(id=button21Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

      //Schaltfläche 1
      div.col-md-2(id=button22panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button22panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button22id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button22MKA
          h2.text-right(id=button22id)(style="margin-top: 5px;margin-bottom: 5px;") #{button22kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button22id)(style="margin-top: 5px;margin-bottom: 5px;") #{button22kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button22Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button22name}
          div.pull-right 
           span H
         div.bg-success(id=button22Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

      //Schaltfläche 1
      div.col-md-2(id=button23panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button23panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button23id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button23MKA
          h2.text-right(id=button23id)(style="margin-top: 5px;margin-bottom: 5px;") #{button23kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button23id)(style="margin-top: 5px;margin-bottom: 5px;") #{button23kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button23Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button23name}
          div.pull-right 
           span H
         div.bg-success(id=button23Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

      //Schaltfläche 1
      div.col-md-2(id=button24panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button24panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button24id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button24MKA
          h2.text-right(id=button24id)(style="margin-top: 5px;margin-bottom: 5px;") #{button24kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button24id)(style="margin-top: 5px;margin-bottom: 5px;") #{button24kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button24Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button24name}
          div.pull-right 
           span H
         div.bg-success(id=button24Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

      //Schaltfläche 1
      div.col-md-2(id=button25panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button25panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button25id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button25MKA
          h2.text-right(id=button25id)(style="margin-top: 5px;margin-bottom: 5px;") #{button25kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button25id)(style="margin-top: 5px;margin-bottom: 5px;") #{button25kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button25Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button25name}
          div.pull-right 
           span H
         div.bg-success(id=button25Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

      //Schaltfläche 1
      div.col-md-2(id=button26panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button26panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button26id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button26MKA
          h2.text-right(id=button26id)(style="margin-top: 5px;margin-bottom: 5px;") #{button26kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button26id)(style="margin-top: 5px;margin-bottom: 5px;") #{button26kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button26Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button26name}
          div.pull-right 
           span H
         div.bg-success(id=button26Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

     div.row
      //Schaltfläche 1
      div.col-md-2(id=button31panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button31panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button31id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button31MKA
          h2.text-right(id=button31id)(style="margin-top: 5px;margin-bottom: 5px;") #{button31kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button31id)(style="margin-top: 5px;margin-bottom: 5px;") #{button31kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button31Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button31name}
          div.pull-right 
           span H
         div.bg-success(id=button31Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

      //Schaltfläche 1
      div.col-md-2(id=button32panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button32panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button32id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button32MKA
          h2.text-right(id=button32id)(style="margin-top: 5px;margin-bottom: 5px;") #{button32kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button32id)(style="margin-top: 5px;margin-bottom: 5px;") #{button32kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button32Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button32name}
          div.pull-right 
           span H
         div.bg-success(id=button32Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

      //Schaltfläche 1
      div.col-md-2(id=button33panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button33panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button33id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button33MKA
          h2.text-right(id=button33id)(style="margin-top: 5px;margin-bottom: 5px;") #{button33kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button33id)(style="margin-top: 5px;margin-bottom: 5px;") #{button33kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button33Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button33name}
          div.pull-right 
           span H
         div.bg-success(id=button33Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

      //Schaltfläche 1
      div.col-md-2(id=button34panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button34panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button34id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button34MKA
          h2.text-right(id=button34id)(style="margin-top: 5px;margin-bottom: 5px;") #{button34kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button34id)(style="margin-top: 5px;margin-bottom: 5px;") #{button34kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button34Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button34name}
          div.pull-right 
           span H
         div.bg-success(id=button34Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

      //Schaltfläche 1
      div.col-md-2(id=button35panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button35panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button35id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button35MKA
          h2.text-right(id=button35id)(style="margin-top: 5px;margin-bottom: 5px;") #{button35kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button35id)(style="margin-top: 5px;margin-bottom: 5px;") #{button35kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button35Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button35name}
          div.pull-right 
           span H
         div.bg-success(id=button35Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')

      //Schaltfläche 1
      div.col-md-2(id=button36panel)(style="padding-left: 5px;padding-right: 5px;")
       div.panel.panel-default(class=(locals.button36panel?'':'hidden'),style="float:left")
        div(style="width:100%")
         //Schaltfläche MHAN
         div.text-center(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") MHAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         div.text-center.bg-success(style="float:left; width:50%")
          //Schaltfläche Ship
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span SHIP
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
         div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
          //Schaltfläche Pilot
          div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
           span PILOT
          div.pull-right
           span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
        //Schaltfläche Kanal
        div(id=button36id)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
         if button36MKA
          h2.text-right(id=button36id)(style="margin-top: 5px;margin-bottom: 5px;") #{button36kanal} 
           span
            button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
             span.caret
         else
          h2.text-center(id=button36id)(style="margin-top: 5px;margin-bottom: 5px;") #{button36kanal}
        //Atis Kennung
        div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
        //Funkstellen
        div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
         div.bg-success(id=button36Haupt)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px") #{button36name}
          div.pull-right 
           span H
         div.bg-success(id=button36Reser)(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
          span TEST
          div.pull-right 
           span R
        //SPAN 
        div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
          div.pull-right
           span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')


     div.row
      // div.col-md-6
      //  ul
      //   each val, index in gesamteKonfig.FunkstellenReihe
      //    li=index+'-'+val+'...'+gesamteKonfig.FunkstellenDetails[val[0]].MKA
      //ul 
      //  each val, index in gesamteKonfig.FunkstellenDetails
      //   li=index+'-'+val.MKA
         
        
      each val, index in gesamteKonfig.FunkstellenReihe
       if index=='Button11'||index=='Button21'||index=='Button31'
        div.row

       div.col-md-2(id=index+'panel')(style="padding-left: 5px;padding-right: 5px;")
        div.panel.panel-default(class=(val[0]== 'frei' ? 'hidden' :''),style="float:left")
         div(style="width:100%")
          //Schaltfläche MHAN
          div.text-center(id=mhan11id)(style="width:100%;border-top-left-radius: 3px;border-top-right-radius: 3px;background-color:#f5f5f5;padding-left: 3px;padding-right: 3px") #{(gesamteKonfig.MhanZuordnung[val[0]] ? gesamteKonfig.MhanZuordnung[val[0]] :'--ohne--')}
           div.pull-right
            span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
          div.text-center.bg-success(style="float:left; width:50%")
           //Schaltfläche Ship
           div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
            span SHIP
           div.pull-right
            span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title 12", data-html='true',data-content='')
          div.text-center(style="float:left; width:50%;background-color:#f5f5f5")
           //Schaltfläche Pilot
           div(style="float:left;width:50%;height: 44px;padding-top: 12px;font-size: 16px;font-weight: bold;")
            span PILOT
           div.pull-right
            span.glyphicon.glyphicon-volume-up(onclick='setzeLautstärke(this.id)',style="cursor: pointer;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;",data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')
         //Schaltfläche Kanal
         div(id=index)(onclick='schalteKanal(event,this)',style="float:left; width:100%; cursor: pointer;z-index:-1;padding-top: 3px;padding-bottom: 3px")
          if gesamteKonfig.FunkstellenDetails[val[0]].MKA
           h2.text-right(id=index)(style="margin-top: 5px;margin-bottom: 5px;") #{gesamteKonfig.FunkstellenDetails[val[0]].channel}
            span
             button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='modal',data-target='#mkaModal',style="margin-left:30%;padding-top: 2px;padding-bottom: 2px;height: 36px;margin-top: -5px;",onclick='setzeKanalMka(event,this)')
              span.caret
          else
           h2.text-center(id=index)(style="margin-top: 5px;margin-bottom: 5px;") #{gesamteKonfig.FunkstellenDetails[val[0]].channel}
         //Atis Kennung
         div.panel.panel-default.text-center(style="float:left;width:100%") ATIS 
         //Funkstellen
         div(style="padding-left: 3px;padding-right: 3px;padding-top: 2px;padding-bottom: 2px;height:50px") 
          div.bg-success(id=(val[0] ? gesamteKonfig.FunkstellenDetails[val[0]].id :'--ohne--'))(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
           span #{val[0] ? gesamteKonfig.FunkstellenDetails[val[0]].name :'--ohne--'}
           div.pull-right 
            span H
          div.bg-success(id=(val[1] ? gesamteKonfig.FunkstellenDetails[val[1]].id :'--ohne--'))(style="float:left; width:100%;border: 1px solid;border-color:#ddd;padding-left: 3px;padding-right: 3px")
           span #{val[1] ? gesamteKonfig.FunkstellenDetails[val[1]].name :'--ohne--'}
           div.pull-right 
            span R
         //SPAN 
         div.text-center.bg-primary(style="float:left; width:100%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-left: 3px;padding-right: 3px") SPAN
           div.pull-right
            span.glyphicon.glyphicon-chevron-down(data-toggle='popover', container='panel-body' ,data-placement='right', title="Popover title", data-html='true',data-content='<b>Vivamus</b> sagittis lacus vel augue laoreet rutrum faucibus.')



      //Test für Slider
      div#popover-content.hide
       input#ex1(data-slider-id='ex1Slider', type='text', data-slider-min='0', data-slider-max='20', data-slider-step='1', data-slider-value='24',data-slider-orientation='vertical')
      



      



      // Modalfenster für MKA Kanalwahl
      #mkaModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mkaModalLabel')
       .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#mkaModalLabel.modal-title Modal title
          .modal-body
           p
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 1
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 2
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 3
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 4
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 5
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 6
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 7
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 8
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 9
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 10
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 11
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 12
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 69
            button.btn.btn-default.btn-lg(type='button',onclick='setzeKanal(this)',data-dismiss='modal') 68

          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
        
       

     
block append testcode2
 script.
  //Aktuelles NavElement Hervorheben
  //$(document).ready(function(){
  // $(".nav").find(".active").removeClass("active")
  // $('#ukw').addClass('active')
  //})

  var test=false;
  var ApID = 'JA_NvD';
  var SPAN = '1-H-RFD-WHVVKZ-SPAN-01';
  var MhanZuordnung={"MHAN01":"1-H-RFD-WHVVTA-FKEK-2","MHAN02":"1-H-RFD-TETTEN-FKEK-2","MHAN03":"1-H-RFD-HELGLT-FKEK-1","MHAN04":"1-H-RFD-WHVVTA-FKMK-1"};
  var ApFunkstellen = {
    '1-H-RFD-WHVVTA-FKEK-3':{id:'1-H-RFD-WHVVTA-FKEK-3', MKA:false, Kanal:'16',kurzname:'WHV',aufgeschaltet:null},
    '1-H-RFD-TETTEN-FKEK-3':{aufgeschaltet:null}
    };
  var ArbeitsplatzGeräte;
  var Einzel = true;
  var einzelStatus
  var gruppenStatus
  var aktuellerUKWserver = location.protocol + '//' + location.hostname
  



  //WebSocket Verbindung herstellen
  var socket = io(aktuellerUKWserver+':3001');


 

  //Optionen für Notify festlegen
  $.notifyDefaults({
     // settings
   element: 'body',
   position: null,
   type: "info",
   allow_dismiss: true,
   newest_on_top: false,
   showProgressbar: false,
   placement: {
    from: "top",
    align: "right"
   },
   offset: 20,
   spacing: 10,
   z_index: 1031,
   delay: 5000,
   timer: 1000,
   url_target: '_blank',
   mouse_over: null,
   animate: {
    enter: 'animated fadeInDown',
    exit: 'animated fadeOutUp'
    },
    onShow: null,
    onShown: null,
    onClose: null,
    onClosed: null,
    icon_type: 'class',
    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
    '<span data-notify="icon"></span> ' +
    '<span data-notify="title">{1}</span> ' +
    '<span data-notify="message">{2}</span>' +
    '<div class="progress" data-notify="progressbar">' +
    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
    '</div>' +
    '<a href="{3}" target="{4}" data-notify="url"></a>' +
    '</div>' 
    });
  
  //Variablen zum Arbeitsplatz laden
  $.get( "ukwKonfig", function( data ) { //IP-Adress nur als Platzhalter zum Testen
     ApFunkstellen=data.FunkstellenDetails;
     SPAN=data.ArbeitsplatzGeräte.SPAN01
     MhanZuordnung=data.MhanZuordnung
     ArbeitsplatzGeräte=data.ArbeitsplatzGeräte


     lautsprecherAufschalten(MhanZuordnung);
   }); 


    //SLider und Popover für Lautstärke initialisieren
    //LAutstärke noch in AP Einstellungen speichern bzw laden
    var sliderVal;
    $(function () {
    $('[data-toggle="popover"]').popover({
        html: true,
        placement: 'right',
        title: 'Options',
        content: function () {
            return $("#popover-content").html();
        }
     }).click(function () {

        $('#ex1').slider().on('slide', function (ev) {
            sliderVal = ev.value;
        });
        if (sliderVal) {
            $('#ex1').slider('setValue', sliderVal)
        }
      });

    }); 


  //Popover aktivieren
  //$(function () {
  //$('[data-toggle="popover"]').popover()
  //})
  //$("[data-toggle=popover]").popover();
  //$('.popover-title').css("backgrouond-color", "#9FC53B"); 
  //$('.popover').css("background-color", "red");
  
  
  //LÖSCHEN
  //Test Eingabefeld zum senden von NAchrichten
   $('form').submit(function(){
    socket.emit('chat message', $('#nachricht').val());
    $('#nachricht').val('');
    return false;
   });

  
  //Mithörlautsprecher aufschalten
  function lautsprecherAufschalten(mhan){
  	console.log(mhan)
  	for (var funkstelle in mhan){
      socket.emit('chat message',{'FstID':mhan[funkstelle], 'ApID':ApID, 'SPAN':ArbeitsplatzGeräte[funkstelle], 'aktion':'schaltenEinfach'})
  		
  	}
  }

  //Prüfe ob Wert in Objekt vorkommt
  function hatWert(obj, value) {
   for(var id in obj) {
     if(obj[id] == value) {
      return true;
     }
    }
    return false;
   } 



  //Ereignisse für Verbindungsüberwachung
  //Dafür in der Navleiste eine Statusfläche einbauen
  socket.on('connect', function() {
  console.log('check 2------------------------VERBUNDEN', socket.connected);
  });


  socket.on('disconnect', function() {
  console.log('check 2-----------------------GETRENNT', socket.connected);
  });



 



  //Löschen
  //Alle eingehenden WebSocket Nachrichten einhängen TYP 'chat messeage'
  socket.on('chat message',function(msg){
    $('#messages').append($('<li>').text(msg));
    //$('#messages').prepend($.text(msg));
  });

  
  //eingehende Socket Nachrichten, Statusmeldungen verarbeitebn
  socket.on('test',function(msg){
    if(typeof msg === 'object'){
     //Empfangen aktiv
     if('RX' in msg && msg.RX.$.state === '1'){
     	//suche SChaltfläche zu FunkstellenID
        button=$('#'+msg.RX.$.id).offsetParent().attr('id')
        //Schaltfläche färben
        $('#'+button+' > div').addClass( "panel-danger" )
        $('#'+button+' > div > div').addClass( "bg-danger" )
        $('#'+button+' > div > div > h2').addClass( "text-danger" )
        $('#'+button+' > div > div.panel-heading > span').text( "Empfang" )
        //Lautsprecher färben
        $('#'+msg.RX.$.id+'Lsp').addClass( "text-danger" )
        $('#'+msg.RX.$.id+'Lsp').parent().addClass( "bg-danger" )
        $('#'+msg.RX.$.id+'Lsp').parent().parent().addClass( "panel-danger" )


        $.notify('Empfang:'+ApFunkstellen[msg.RX.$.id].sname)
        console.log(msg.RX.$.id)
        }
     //Empfangen deaktiv
     if('RX' in msg && msg.RX.$.state === '0'){
     	//suche SChaltfläche zu FunkstellenID
        button=$('#'+msg.RX.$.id).offsetParent().attr('id')
        $('#'+button+' > div').removeClass( "panel-danger" )
        $('#'+button+' > div > div').removeClass( "bg-danger" )
        $('#'+button+' > div > div > h2').removeClass( "text-danger" )
        //Lautsprecher färben
        $('#'+msg.RX.$.id+'Lsp').removeClass( "text-danger" )
        $('#'+msg.RX.$.id+'Lsp').parent().removeClass( "bg-danger" )
        $('#'+msg.RX.$.id+'Lsp').parent().parent().removeClass( "panel-danger" )
        console.log(msg.RX.$.id)
        }
     //Senden aktiv
     if('TX' in msg && msg.TX.$.state === '1'){
        //suche SChaltfläche zu FunkstellenID
        button=$('#'+msg.TX.$.id).offsetParent().attr('id')
        $('#'+button+' > div').addClass( "panel-success" )
        $('#'+button+' > div > div').addClass( "bg-success" )
        $('#'+button+' > div > div > h2').addClass( "text-success" )
        //Lautsprecher färben
        $('#'+msg.TX.$.id+'Lsp').addClass( "text-success" )
        $('#'+msg.TX.$.id+'Lsp').parent().addClass( "bg-success" )
        $('#'+msg.TX.$.id+'Lsp').parent().parent().addClass( "panel-success" )
        console.log(msg.TX.$.id)
        }
     //Senden deaktiv
     if('TX' in msg && msg.TX.$.state === '0'){
     	//suche SChaltfläche zu FunkstellenID
        button=$('#'+msg.TX.$.id).offsetParent().attr('id')
        $('#'+button+' > div').removeClass( "panel-success" )
        $('#'+button+' > div > div').removeClass( "bg-success" )
        $('#'+button+' > div > div > h2').removeClass( "text-success" )
        //Lautsprecher färben
        $('#'+msg.TX.$.id+'Lsp').removeClass( "text-success" )
        $('#'+msg.TX.$.id+'Lsp').parent().removeClass( "bg-success" )
        $('#'+msg.TX.$.id+'Lsp').parent().parent().removeClass( "panel-success" )
        console.log(msg.TX.$.id)
        }
      
     if('FSTSTATUS' in msg && msg.FSTSTATUS.$.state === '0'){
        $('#'+msg.FSTSTATUS.$.id).closest('div').removeClass( "bg-danger" )
        $('#'+msg.FSTSTATUS.$.id).closest('div').addClass( "bg-success" )
        console.log(msg.FSTSTATUS.$.id)
        
        //Bei Kanaländerung die Kanalnummer setzen
        if(msg.FSTSTATUS.$.channel > -1){
           button=$('#'+msg.FSTSTATUS.$.id).offsetParent().attr('id')
           $('#'+button+' > div > div  > h2 > span:first-child').text( msg.FSTSTATUS.$.channel )
          }

        }
     if('FSTSTATUS' in msg && msg.FSTSTATUS.$.state === '1'){
        $('#'+msg.FSTSTATUS.$.id).closest('div').removeClass( "bg-success" )
        $('#'+msg.FSTSTATUS.$.id).closest('div').addClass( "bg-danger" )
        console.log(msg.FSTSTATUS.$.id)
        }
     //Schalten für SPrechANlagen und MitHörANlagen
     if('geschaltet' in msg && msg.geschaltet.$.state === '1'){
        
        if(hatWert(ArbeitsplatzGeräte,msg.geschaltet.$.Ap)){
      
            //Ändern Darstellung für MHAN
            if(msg.geschaltet.$.Ap.indexOf("MHAN") != -1){
            	$('#'+msg.geschaltet.$.id+'Lsp').parent().parent().addClass( "panel-primary" )
            	
            }
            
            //Ändern Darstellung für SPAN
             if(msg.geschaltet.$.Ap.indexOf("SPAN") != -1){
             //suche SChaltfläche zu FunkstellenID
             button=$('#'+msg.geschaltet.$.id).offsetParent().attr('id')
             $('#'+button+' > div > div.panel-heading > span').text( "aufgeschaltet" )
             $('#'+button+' > div').addClass( "panel-primary" )
             ApFunkstellen[msg.geschaltet.$.id].aufgeschaltet=true
             $.notify('Aufgeschaltet:'+ApFunkstellen[msg.geschaltet.$.id].sname +'')
             console.log(msg.geschaltet.$.id)
             }
          }
       }

      //Trennen für SPrechANlagen und MitHörANlagen
     if('getrennt' in msg && msg.getrennt.$.state === '1'){

        if(hatWert(ArbeitsplatzGeräte,msg.getrennt.$.Ap)){
      
            //Ändern Darstellung für MHAN
            if(msg.getrennt.$.Ap.indexOf("MHAN") != -1){

            }
            //Ändern Darstellung für SPAN
            if(msg.getrennt.$.Ap.indexOf("SPAN") != -1){

             //suche SChaltfläche zu FunkstellenID
             button=$('#'+msg.getrennt.$.id).offsetParent().attr('id')
             $('#'+button+' > div > div.panel-heading > span').text( "getrennt" )
             $('#'+button+' > div').removeClass( "panel-primary" )
             ApFunkstellen[msg.getrennt.$.id].aufgeschaltet=false
             $.notify('Getrennt:'+ApFunkstellen[msg.getrennt.$.id].sname +'')
             console.log(msg.getrennt.$.id)
            }
        }
      }
     }
     else{
      msgText=msg.replace("<","")
      msgText=msgText.replace("\>","")
      console.log(msgText)
      $.notify('Meldung: '+msgText)
      
      //$('#messages').append($('<li>').text(msg));
      //$('#messages').append($.text(msg));
      
      }


  });

  //Prüfe welches Element geklickt wurde
  //Vermeide aufschalten/trennen bei MKA Dropdown
  function angeklickt(e, element){
  	e=e||event
  	var ziel=e.target||e.srcElement
  	if(ziel.id==element.id)
  		return true
  	else
  		return false
  }

  function setzeKanalMka(event,element){
  	if(angeklickt(event,element)){
  		//Eltern Element finden
  		button=$(element).offsetParent().attr('id')
        //Funkstellen ID finden
        //geklickteMKA=$('#'+button +'> div > div:nth-child(2) > div:nth-child(2) > span').attr('class')
        geklickteMKA=$('#'+button +'> div > div:nth-child(2) > div > span').attr('id')
  		console.log("Dropdown von:" + geklickteMKA)
  		
  		
  	}
  }

  //Kanalschalten
  //Prüfe zunächst ob Element geklickt wurde
  function schalteKanal(event,element){
  	if(angeklickt(event,element)){
 
     console.log(element)
     console.log("Klick: "+element.id)
     console.log($('#'+element.id+' div:nth-child(2) > span').attr('id'))
     console.log($('#'+element.id+' div:nth-child(3) > span').attr('id'))
     console.log($('#'+element.id+' div:nth-child(4) > span').attr('id'))
     geklickteFstHaupt=$('#'+element.id+' div:nth-child(2) > span').attr('id')
     
     schalteKanalID(geklickteFstHaupt)

    


    }
  }
    


  function schalteKanalID(geklickteID){
    console.log("Klick: "+geklickteID)
    //$.notify('test:'+ApFunkstellen[geklickteID].kurzname);

    if (Einzel===true){
     $.each(ApFunkstellen,function(key,value){
       if(value.aufgeschaltet===true && key != geklickteID){
         console.log(key,value.aufgeschaltet)
         trennen(key)
         }  
        //trenne aufgeschaltet
        })
    }

    if (ApFunkstellen[geklickteID].aufgeschaltet===true){
     trennen(geklickteID)
        
    }
    else{
    schalten(geklickteID)

    }
   }

   function trennen(geklickteID){
        socket.emit('chat message',{'FstID':geklickteID, 'ApID':ApID, 'SPAN':SPAN, 'aktion':'trennenEinfach'})
        $.notify('Trenne: '+ApFunkstellen[geklickteID].sname +' ...');
        //ApFunkstellen[geklickteID].aufgeschaltet=false

        //$('#'+geklickteID+'-Panel > div').removeClass( "panel-primary" )
        //$('#'+geklickteID+'-Panel > div > div.panel-heading > span').text( "getrennt" )
   }

   function schalten(geklickteID){
      socket.emit('chat message',{'FstID':geklickteID, 'ApID':ApID, 'SPAN':SPAN, 'aktion':'schaltenEinfach'})
      $.notify('Schalte: '+ApFunkstellen[geklickteID].sname +' ...')
      
      //ApFunkstellen[geklickteID].aufgeschaltet=true
      //$('#'+geklickteID+'-Panel > div > div.panel-heading > span').text( "aufgeschaltet" )
      //$('#'+geklickteID+'-Panel > div').addClass( "panel-primary" )
      //$('.popover-title').css("color", "black"); $('.popover').css("color", "black");

   }

   
   
   
  

   



   function setzeLautstärke(geklickteID){
    console.log("Klick: Lautstärke "+geklickteID)
    //$('#'+geklickteID).popover('toggle')
     //Slider Einstellungen
  
    
    }

   function gruppen(buttonID){
    
    //Wechsel zu Gruppenschaltung
    if (Einzel===true){
      Einzel=false
      einzelStatus=JSON.stringify(ApFunkstellen)//speichere geschalteten Zustand
      $('#'+buttonID).toggleClass("active")
      $('#'+buttonID+' > a').text("Gruppenschaltung")
      zustandWiederherstellen(JSON.parse(gruppenStatus))// lade Gruppenzustand
     }

    else{
      Einzel=true
      gruppenStatus=JSON.stringify(ApFunkstellen)//speichere geschalteten Zustand
      $('#'+buttonID).toggleClass("active")
      $('#'+buttonID+' > a').text("Einzelschaltung")
      zustandWiederherstellen(JSON.parse(einzelStatus))//lade Einzelzustand

     }

   }

   function zustandWiederherstellen(AufschalteZustand){
    //Backup, da die Funktionen schalten und trennen mit Rückmeldung schon in ApFunkstellen schreiben
    backupApFunkstellen=ApFunkstellen
    $.each(backupApFunkstellen,function(key,value){
       if (value.aufgeschaltet== true && AufschalteZustand[key].aufgeschaltet== true)  {
       	//nix
       }
       if (value.aufgeschaltet== true && AufschalteZustand[key].aufgeschaltet== false)  {
        //trennen
        trennen(AufschalteZustand[key].id)
       }
       if (value.aufgeschaltet== false && AufschalteZustand[key].aufgeschaltet== true)  {
        //schalten
        schalten(AufschalteZustand[key].id)
       }
       if (value.aufgeschaltet== false && AufschalteZustand[key].aufgeschaltet== false)  {
        //nix
       }
    })


    //console.log("Funkstellen ID nicht vorhanden: "+Id)	
    }

  function setzeKanal(element){
   	
   	console.log('chat message',{'FstID':geklickteMKA, 'Kanal':element.innerText, 'aktion':'setzeKanal'})
   	socket.emit('chat message',{'FstID':geklickteMKA, 'Kanal':element.innerText, 'aktion':'setzeKanal'})
    //  $.notify('Setze Kanal: '+ApFunkstellen[geklickteMKA].sname +' auf '+ element.innerText +' ...')
   }



   
  
     
    
  

   
